.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.App-logo-foot {
  animation: App-logo-spin infinite 20s linear;
  height: 30px;
}

.Msw-logo {
  height: 60px;
}

.Clear {
  height: 10px;
}


.Job-logo-sm {
  height: 20px;
}

.Job-logo {
  height: 30px;
}

.Job-logo1 {
  height: 40px;
}

.Job-logo2 {
  height: 50px;
}

.Job-logo3 {
  height: 70px;
}

.Job-logo4 {
  height: 90px;
}

.Job-logo5 {
  height: 110px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-footer {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  font-size: .85em;
  text-align: center;

}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

p {
  font-size: 1.0em;
  color: #C0C0C0;
}

.ptop1 {
  font-size: small;
  color: gray;
  padding-top: 10px;
}
